<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <strong><h1 align="center">Edit Category</h1></strong>
            </br>
            <div class="well">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>