<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% @categories.each do |category| %>
            <div class="well">
                <strong>Category: </strong>
                <%= category.name %>
            </div>
        <% end %>
    </div>
</div>