<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <strong><h1 align="center">Create a New Category</h1></strong>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>