<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <strong><h1 align="center"><%= @category.name %></h1></strong>
            </div>
        </div>
    </div>
</div>