<hr>
<div class="container container-fluid">
    <footer class="footer">
        <small>
            <div class="nav navbar-left">
              Copyright &copy; <a href="#">Render Answer</a>
            </div>
            <nav class="nav navbar-right">
                <ul>
                    <li class="list-unstyled"><%= link_to "About", about_path %></li>
                </ul>
            </nav>
        </small>
    </footer>
</div>

